---
layout: home
section_id: home
hero-image: index_new.jpg
---



<h1 class="intro-title">Beautifully interactive sensors and sound</h1>




<p class="intro-text">Bela is a maker platform for creating beautiful interactions.</p> 

<p class="intro-text">Designed for artists, musicians, researchers and makers, Bela brings the power of ultra-low latency interactive audio to your projects.</p>

<p style="text-align: center"><a class='button large intro-button' href="about">MEET BELA <i class='fas fa-arrow-right'></i></a></p>


{% include about-products.html %}
{% include roundels.html %}


{% include about-community.html %}

{% include threeimagebox.html %}
{% include about-education.html %}
<div class="spacing four"></div>