<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/edu.jpg" />
    </div>
    <div class='medium-6 columns'>
      <h2>Bela in Education and Research</h2>
      <p>Bela is used to teach in universities, music and design schools around the world. As a teaching platform, Bela offers cost-effective, state-of-the-art materials and methods for teaching in a variety of subject areas related to interaction, embedded computing and sound, from physical computing to real-time digital signal processing.</p>
      <div class='spacing'></div>
      <a class='button large intro' href='{{ site.url }}/education'>EDUCATION & RESEARCH <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
</div>