<div class="about-section-image">
  <div class="full" role="about-section-image">
    <div class="row">
      <style>
        .about-section-image {
          background-image: url("{{ site.baseurl }}/images/hero/{{ page.hero-image }}");
        }
      </style>
      <div class="large-6 columns about-section-image text">
        Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. 
      </div>
      <div class="large-6 columns about-section-image button">
        <a href="#">Clicky</a>
    </div>
  </div>
</div>