<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/mini.jpg" />
    </div>
    <div class='medium-6 columns'>
      <h2>Products</h2>
      <p>We are constantly developing and expanding our product line to meet the needs of makers and creators everywhere. Along with the Bela Original system and the new and tiny Bela Mini, we offer a number of expanders and add-ons to give you the functionality you need to bring your projects to life.</p>
      <div class='spacing'></div>
      <a class='button large intro' href='products'>PRODUCTS <i class="fas fa-arrow-right"></i></a> <a class='button large intro' href='https://shop.bela.io' target='_blank'>SHOP <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
</div>