<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% if include.src1 != "" %}
      <div class="photocaption large-6 columns">
        <img src="{{ site.baseurl }}/images/{{ include.src1 }}" />
        {% if include.caption1 %}<p class="caption bg-grey">{{ include.caption1 }}</p>{% endif %}
      </div>
      {% endif %}
      {% if include.src2 != "" %}
      <div class="photocaption large-6 columns">
        <img src="{{ site.baseurl }}/images/{{ include.src2 }}" />
        {% if include.caption2 %}<p class="caption bg-grey">{{ include.caption2 }}</p>{% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
