<div class="spacing two"></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <p>Bela is a fully-featured digital lab bench. Its stable, hard real-time processing and high-resolution, synchronous analog and audio make it ideal for precise measurement, and the browser-based IDE not only makes it easy to program but also offers indispensable tools, such as the built-in oscilloscope that lets you view your audio and sensor data in real time. View your data in linear or FFT mode, and use the in-built sliders for sending control parameters to the code that is already running on your board. This is perfect for stimulating sensor input when you don't have the time to hook up hardware but need to fine-tune the parameters of your code.</p>
    </div>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="../images/education/breadboard.jpg" />
    </div>
  </div>
<div class="spacing two"></div>