<div class="full inline-links">
  <div class="row">
    <div class="large-12 columns">
      
      <div class="large-6 medium-6 small-12 columns">
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
        <div class="large-8 medium-8 small-8 columns">
          <a href="#{{ include.sec1 }}" class="button large page-scroll">{{ include.sec1 | capitalize }}</a>
        </div>
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
      </div>

      <div class="large-6 medium-6 small-12 columns">
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
        <div class="large-8 medium-8 small-8 columns">
          <a href="#{{ include.sec2 }}" class="button large page-scroll">{{ include.sec2 | capitalize }}</a>
        </div>
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
      </div>

    </div>
  </div>
  <div class="spacing four"></div>
</div>