<div class="spacing two"></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="../images/education/workshops.jpg" />
    </div>
    <div class='medium-6 columns'>
      <p>Bela is used to teach classes in universities, design schools and research institutions around the world. Students who use Bela in classes come from diverse subject areas, such as music technology, e-textiles, design, robotics, DSP, interaction design and more. Bela is ideal for both learners and teachers, as there are no complex tool-chains to install, no software packages update. Plugging in and launching the IDE in a modern browser are all you need to start exploring the examples, programming the board, and running projects.</p>
    </div>
  </div>
<div class="spacing two"></div>