<div class='full'>
 <div class='row'>
    <div class='medium-6 columns'>
      <h2>Trill Touch Sensors</h2>
      <p>Trill is a family of touch sensors that make it easy to bring touch interaction to your digital projects. Inspired by the way musicians use their hands to interact with the world, Trill sensors use capacitive sensing to precisely track finger movements and positions. Trill sensors were funded on Kickstarter and are available now. Click below to find out more.</p>
      <div class='spacing'></div>
      <a class='button large intro' href='{{ site.url }}/resources'>LEARN ABOUT TRILL <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class='spacing'></div>
    <div class='medium-6 columns'>
      <img class="fadeinright" width="500" height="400" alt="" src="images/square.gif" />
    </div>
  </div>
</div>